<div class="container">
    <div class="row">

        <h1>Burger Putter Together-er</h1>


        <p>Enter the burger you want to eat.</p>
        <input type="text" class="form-control" placeholder="Text input"> 
        <p>Click the Submit button</p>
    </div>
</div>